@import url(./normalize.css);

:root {
  --clr-neutral: hsl(0, 0%, 100%);
  --clr-neutral-transp: rgba(255, 255, 255, 0.171);
  --ff-primary: "Poppins", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 2px 2px 8px #000000;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(212, 207, 207);
  font-family: var(--ff-primary);
  color: var(--clr-neutral);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 4rem 2rem;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.unitC,
.unitF {
  font-size: 0.85rem;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 20;
  pointer-events: none;
  text-shadow: none;
}

.unitF {
  color: white;
}

.checkbox-container {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-wrapper input {
  width: 40%;
  padding: 10px 10px 10px 40px;
  border-radius: 2rem;
  border: none;
  background-image: url(../images/magnify.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: calc(1rem + 0.5vw);
  background-color: white;
  text-shadow: none;
}

#error {
  display: none;
}

.city-info h1 {
  margin: 0.3rem 0;
  letter-spacing: 0.1rem;
  font-weight: var(--fw-600);
  font-size: 2.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: var(--fw-300);
}

.current-weather {
  display: flex;
  justify-content: space-around;
}

.current-weather_cointainer {
  display: flex;
}

.current-weather_cointainer img {
  width: calc(10rem + 10vw);
}

.current-weather_cointainer h1 {
  margin: 0.3rem 0;
  font-size: 4rem;
  font-weight: var(--fw-400);
}

.current-weather_temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-weather__details {
  display: flex;
  align-items: center;
  align-self: center;
  height: max-content;
  padding: 2rem 4rem;
  gap: 4rem;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-transp);
}

.current-weather__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.current-weather__item img {
  width: calc(1rem + 1vw);
}

.current-weather__details__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forecast {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-transp);
}

.forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast__item img {
  width: calc(2rem + 3vw);
}
